:root {
    /* Colors */
    --font-color-1: #001C55;
    --font-color-2: #022877;
    --font-color-clear-1: #E3E3E3;
    --font-color-clear-2: #b9b9b9;

    --bg-color-1: #EDF9FE;
    --bg-color-2: #082d35;
}
