<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
</head>
<body>

    <header th:fragment="navbar">
        <ul>
            <li><a class="nav-link" href="/">${messages["navbar.home"]}</a></li>
            <li><a class="nav-link" href="/">${messages["navbar.education"]}</a></li>
            <li><a class="nav-link" href="/">${messages["navbar.experience"]}</a></li>
            <li><a class="nav-link" href="/">${messages["navbar.projects"]}</a></li>
            <li><a class="nav-link" href="/">${messages["navbar.contact"]}</a></li>
        </ul>
    </header>

</body>
</html>
