@import "./variables/colors.css";

body {
    background-color: var(--bg-color-1);
    color: var(--font-color-1);
}

body a {
    text-decoration: none;
    color: var(--font-color-1);
}

body a:visited {
    color: var(--font-color-1);
}
